ul{
	border: solid #0CFEF6;
	border-radius: 30px;
	background-color: purple;
	opacity: 0.7;
	list-style-type: none;
	height: 35px;
	width: 80%;
}

button{
	background-color: #0CFEF6;
	border-radius: 30px;
	border: solid #FE01DC;
	float: left;
	width: 80px;
	height: 35px;
	font-weight: bold;
	align-self: center;
	margin-left: 200px;
}
a{
	text-decoration: none;
	color: #FE01DC;
	border-radius: 30px;
}